.root{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.contain {
  margin: auto;
  width: 1366px;
  height: 768px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

/* 노트북 */
@media (min-width: 768px) and (max-width: 1400px) {}

/* 모바일 */
@media (max-width: 767px) {}