.root {
    width: 100vw;
    height: 100vh;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30vh;
    padding-top: 20vh;
}

.textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.btnBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.background{
    position: absolute;
    z-index: -999;
    width: 100vw;
    height: 100vh;
}

.title{
    font-size: 50px;
}

.describe{
    font-size: 35px;
}

.join{
    background-color: #D79D6B !important;
}

