.root {
   width: 100%;
   height: 64px;
   gap: 8px;
}

.label{
    color: black;
    margin-bottom: 8px;
}

.box {
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    background-color: white;
    color: black;
}

.box::placeholder{
    color: #BFBFBF;
}


/* 노트북 */
@media (min-width: 768px) and (max-width: 1400px) {}

/* 모바일 */
@media (max-width: 767px) {}